<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>tec_datacleanig</name>
    <displayName><![CDATA[Database Stats Cleaning]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[With this Prestashop module, you can optimize your database and enhance your shop&#039;s performance. The cleaned tables in the database can often be quite large, especially if your store receives a high volume of visits.]]></description>
    <author><![CDATA[Tecnoacquisti.com]]></author>
    <tab><![CDATA[quick_bulk_update]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>